
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Ratings by Category</title>
  <script src="https://code.highcharts.com/highcharts.js"></script>
</head>

<body>
  <div id="container"></div>
  <script>
    var data = <%- JSON.stringify(data) %>;

Highcharts.chart('container', {
  chart: {
    type: 'bar'
  },
  title: {
    text: data.title, 
    align: 'left'
  },
  xAxis: {
    categories: data.categories,
    title: {
      text: null
    }
  },
  yAxis: {
    min: 0,
    title: {
      text: 'Number of ratings',
      align: 'high'
    },
    labels: {
      overflow: 'justify'
    }
  },
  tooltip: {
    valueSuffix: ''
  },
  plotOptions: {
    bar: {
      dataLabels: {
        enabled: true
      }
    }
  },
  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'top',
    x: -40,
    y: 80,
    floating: true,
    borderWidth: 3,
    backgroundColor:
      Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
    shadow: true
  },
  credits: {
    enabled: false
  },
  series: data.series
});
  </script>
</body>
</html>
